<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hải Minh Blog</title>
	<link rel="stylesheet" href="normal.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="container">
		<div id="menu">
			<ul>
				<li><a href="#">Trang chủ</a></li>
				<li><a href="#">Dịch vụ</a>
					<ul class="sub-menu">
						<li><a href="#">WordPress</a></li>
						<li><a href="#">SEO</a></li>
						<li><a href="#">Hosting</a></li>
					</ul>
				</li>
				<li><a href="#">Hỏi đáp</a></li>
				<li><a href="#">Diễn đàn</a></li>
				<li><a href="#">Liên hệ</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="header">
				<div id="logo">
					<img src="logo.jpg" alt="logo website">
				</div>
				<div id="slogan">
					<p>Serie học CSS cơ bản cho người mới bắt đầu</p>
				</div>
			</div>
			<div class="call-to-action">
				<h3>Bạn sẽ được học những gì ? </h3>
				<p>Serie này sẽ cung cấp những kiến thức cơ bản về CSS để bạn tự thiết kế giao diện với HTML CSS</p>
			</div>
			<div class="row" id="intro">
				<div id="box1" class="col">
					<h2>CSS</h2>
					<img src="iconcss.jpg" alt="">
					<p>CSS là chữ viết tắt của cụm từ tiếng Anh "Cascading Style Sheet", dịch ra tiếng Việt thì thực sự mình cũng không thể dịch cho chuẩn được blush, nhưng về ý nghĩa thì CSS dùng để trình bày bổ cục của một Website dựa vào các thẻ HTML. Nói nôm na thì CSS sẽ tác động thay đổi cách hiển thị mặc định của các thẻ HTML nhằm thân thiện với người dùng hơn hay nhằm một mục đích cụ thể nào đó.

                    Có một ví dụ trực quan để diễn tả nhiệm vụ của CSS như sau, giả sử bạn xây nhà và bạn sẽ sử dụng gạch để xây dựng ngôi nhà. Nhưng để trang trí cho ngôi nhà thì bạn sẽ sử dụng một số đồ nội thất khác như sơn màu, ... thì lúc này sơn màu sẽ tác động làm thay đổi color mặc định của gạch. Nói ví von thi màu sơn chính là CSS và gạch chính là HTML.</p>	
				</div>
				<div id="box2" class="col">
					<h2>HTML</h2>
					<img src="html5.jpg" alt="">
					<p>HTML là chữ viết tắt của HyperText Markup Language, có nghĩa là ngôn ngữ đánh dấu siêu văn bản. Nó dùng để định dạng bố cục, các thuộc tính liên quan đến cách hiển thị của một đoạn text và được hiển thị trên một chương trình đặc biệc ta gọi là Browser. Hiện nay có khá nhiều Browser như Firefox, Chrome, Cốc Cốc, ...Tất cả Browser đều có điểm chung là giúp người dùng thao tác với website và nó đều có khả năng biên dịch những đoạn mã HTML, CSS và Javascript.</p>
				</div>
				<div id="box3" class="col">
					<h2>Javascrip</h2>
					<img src="js.jpg" alt="">
					<p>JavaScript là ngôn ngữ lập trình phổ biến nhất trên thế giới trong suốt 20 năm qua. Nó cũng là một trong số 3 ngôn ngữ chính của lập trình web:

						HTML: Giúp bạn thêm nội dung cho trang web.
						CSS: Định dạng thiết kế, bố cục, phong cách, canh lề của trang web.
						JavaScript: Cải thiện cách hoạt động của trang web.
					JavaScript có thể học nhanh và dễ dàng áp dụng cho nhiều mục đích khác nhau, từ việc cải thiện tính năng của website đến việc chạy game và tạo phần mềm nền web. Hơn nữa, có hàng ngàn mẫu template JavaScript và ứng dụng ngoài kia, nhờ vào sự cống hiến của cộng đồng, đặc biệt là Github.</p>
				</div>
			</div>
			<div id="footer">
				<p>Copyright &copy; 2015 www.thachpham.com </p>
			</div>
		</div>

	</div>

	
</body>
</html>